# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www

src/app/configs/credentials.ts

package-lock.json

diagrams/

*.cache

.history/src/app/models/shoppingKartModel_20201103171052.ts

.history/src/app/models/shoppingKartModel_20201105174654.ts

.history/src/app/models/shoppingKartModel_20201105174730.ts

.history/src/app/models/shoppingKartModel_20201105174828.ts

.history/src/app/models/shoppingKartModel_20201105174939.ts

.history/src/app/models/shoppingKartModel_20201105175005.ts

.history/src/app/models/shoppingKartModel_20201105180107.ts

.history/src/app/models/shoppingKartModel_20201105180353.ts

.history/src/app/models/shoppingKartModel_20201105180837.ts

.history/src/app/models/shoppingKartModel_20201105180916.ts

.history/src/app/models/shoppingKartModel_20201105181134.ts

.history/src/app/models/shoppingKartModel_20201105181219.ts

.history/src/app/models/shoppingKartModel_20201105181450.ts

.history/src/app/models/shoppingKartModel_20201105181550.ts

.history/src/app/models/shoppingKartModel_20201105182321.ts

.history/src/app/modules/item/components/page-item/page-item.page_20200704192221.html

.history/src/app/modules/item/components/page-item/page-item.page_20201105180540.html

.history/src/app/modules/item/components/page-item/page-item.page_20201105180706.html

.history/src/app/modules/item/components/page-item/page-item.page_20201105181909.html

.history/src/app/pages/shoppingKarts/shopping-karts/shopping-karts.page_20191010175548.scss

.history/src/app/pages/shoppingKarts/shopping-karts/shopping-karts.page_20201105175320.scss

.history/src/app/pages/shoppingKarts/shopping-karts/shopping-karts.page_20201105175408.scss

.history/src/app/pages/shoppingKarts/shopping-karts/shopping-karts.page_20201105175417.scss
