p.switchText {
    font-style: oblique;
    background-color: #ece8e8;
    width: fit-content;
    border-radius:16px;
}

.errorMessage {
    color: red;
}

abel, input, select, textarea {
    font-family: cursive;
    font-weight: bold;
    line-height: normal;
    color: green;
}