<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">

        <ion-back-button
        class="button-clear ion-chevron-left"
        defaultHref="/home"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>fornitori</ion-title>
    <div slot='end'>
    <app-items-filter [filterFields]="filterFields"(filterSet)="filter($event)"></app-items-filter>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-page-items-list [items_list]="ItemsList|distanceSorter:position" [service]="suppliers" [filterFunction]="filterFunction" [sorterFunction]="sorterFunction" [createModalPage]="createModalPage" [editModalPage]="editModalPage"></app-page-items-list>

</ion-content>