.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 90px;
}
.block {
  // width: 10px;
}

.green{
  background-color: green;
  border-radius: 90px;
}

.orange{
  background-color: orangered;
  border-radius: 90px;
}
.blue{
  background-color:blue;
  border-radius:90px;
  color:deepskyblue
}

article {
  display: flex;
  border-radius: 1em;
  background-color: hsl(225deg 22% 96%);
  border: solid #f4f5f8 1px;
  flex: 1 1 0%;
  flex-direction: inherit;
  align-items: inherit;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
}